@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    "Yu Gothic",
    sans-serif;
  line-height: 1.75;
    /* font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7; */
    color: #000000;
    background-color: #ffffff;

}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 100%; /*px;*/
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 見出し */
.page-title {
    font-size: 3rem;
    font-family: 'Yu Gothic', serif;
    text-transform: uppercase;
    font-weight: normal;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: #b4c1d1;
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.logo {
    width: 80px;
    height: 30px;
    margin-top: 5%;
}
.main-nav {
    display: flex;
    font-size: 15px; /*1.25rem;*/
    text-transform: uppercase;
    margin-top: 10px;
    list-style: none;
    justify-content: space-between;
}
.main-nav li {
    margin-left: 20px;
}
.main-nav a {
    color: #000000;
}
.main-nav a:hover {
    color: #ff9933;
}


/* HOME
------------------------------- */
#home {
    background-image: url(../images/top.jpeg);
    min-height: 100vh;
    /* margin-top: -70px; */
     padding-top: 120px;
}
#home .page-title {
    /* margin-top: 10px; */
    padding-top: 0px;
        text-transform: none;
    color: #fdfbfb
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 100px 0 42px;
    color: #f4ecec
}

.selfintro-content {
    text-align: center;
    margin-top: 5%;
}
.selfintro-content .title{
    text-align: center;
    margin-top: 0%;
    font-size: 4.0rem;
}
.selfintro-content p {
    font-size: 1.125rem;
    margin: 10px 0 12px;
    color: #000000
}

.contact-content {
    text-align: center;
    margin-top: 5%;
}
.contact-content .title{
    text-align: center;
    margin-top: 0%;
    font-size: 1.125rem;
}
.contact-content p {
    font-size: 0.75rem;
    margin: 10px 0 10px;
    color: #000000
}

/*--------------*/
#research {
    background-image: url();
    min-height: 20vh;
    margin-top: -100px;
}
#research .page-title {
    text-transform: none;    
}
.research-content {
  text-align: left;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.research-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

.list_papers_headline{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.list_papers {
    list-style:  decimal;      /* デフォルトのアイコンを消す */
    margin:  0;             /* デフォルト指定上書き */
    padding: 0;             /* デフォルト指定上書き */
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-right: 3%;
}


/* フッター
------------------------------- */
footer {
    background: #b4c1d1;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
      width: 100%;
      height: 50px;
      justify-content: space-between;
      background-color: #b4c1d1;
      padding: 20px 50px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      }

    /* HEADER */
    .main-nav {
        font-size: 10px; /*rem;*/
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 30px;
    }
    article,
    aside {
        width: 100%;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* MENU */
    .menu-content {
        margin-top: 20%;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}
